#tv {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 4%;
    width: 800px;
    height: 550px;
    margin-left: 24%;
    margin-top: 12%;
    text-align: center;
    background: linear-gradient(rgb(241, 235, 234),rgb(233, 216, 236));
  }

  #tvmessage {
    font-family: 'Cormorant Garamond', serif;
  }
  
  @media screen and (max-width: 800px) {
    #tv{
    margin-top: 30%;
    margin-left: 10%;
    width: 90%;
    height: 50%;
    font-size: 17pt;
    }
  }
  @media screen and (max-width: 400px) {
    #tv {
      margin-top: 43%;
      margin-left: 2%;
      width: 90%;
      height: 53%;
    }
 
  }